<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="member">

	<insert id="insertMember">
		insert into member values
		( #{memberId}, #{password}, #{memberName}, #{email},
		  #{phone}, default, sysdate, default, default, sysdate, default)
	</insert>

	<select id="selectOneMember" resultType="member">
		select * from member where member_id = #{memberId}	
	</select>
	
	<update id="updateMember">
		update member
		<trim prefix="set" suffixOverrides=",">
			<if test="password != null and password !=''">
			password= #{password},
			</if>
			<if test="memberName != null and memberName !=''">
			member_name = #{memberName},
			</if>
			<if test="email != null and email !=''">
			email = #{email},
			</if>
			<if test="phone != null and phone !=''">
			phone= #{phone},
			</if>
			<if test="memberGrade != null and memberGrade !=''">
			member_grade= #{memberGrade},
			</if>
		</trim>
		
		where member_id = #{memberId}
	
	</update>
	
	<delete id="deleteMember">
		delete from member where member_id = #{memberId}
	</delete>
	<update id="updatePwd" parameterType="Member">
        UPDATE member SET password = #{password} WHERE member_id = #{memberId}

    </update>
    
    <select id="selectReservationList" resultType="ticket">
    	select * from ticket where ticket_buyer=#{memberId}
    </select>
	
	<select id="chkEmailUsable"
			 resultType="_int">
		select count(*) from member where email = #{email}
	</select>
	
	<select id="selectMyPointList"
			resultType="mypoint">
		select * from point where member_id = #{memberLoggedIn}
	</select>
	
	<select id="selectReservationTerm" resultType="ticket">
		select ticket_no as ticketNo, ticket_showid as ticketShowId, ticket_enrolldate as ticketEnrollDate, ticket_date as ticketDate,
			   ticket_count as ticketCount, ticket_cancel as ticketCancel, ticket_status as ticketStatus
		from(select rownum rnum, t.*
		from(select * from ticket where ticket_buyer=#{memberId} and ticket_enrolldate between add_months(sysdate, #{num}) and sysdate order by ticket_enrolldate desc)t)t
		where rnum between #{startContent} and #{endContent}
	</select>
	
	<select id="selectReservationTerm15" resultType="ticket">
		select ticket_no as ticketNo, ticket_showid as ticketShowId, ticket_enrolldate as ticketEnrollDate, ticket_date as ticketDate,
			   ticket_count as ticketCount, ticket_cancel as ticketCancel, ticket_status as ticketStatus
		from(select rownum rnum, t.*
		from(select * from ticket where ticket_buyer=#{memberId} and ticket_enrolldate between trunc(sysdate + #{num}) and sysdate order by ticket_enrolldate desc)t)t
		where rnum between #{startContent} and #{endContent}
	</select>
	
	<select id="selectReservationPage" resultType="ticket">
		select ticket_no as ticketNo, ticket_showid as ticketShowId, ticket_enrolldate as ticketEnrollDate, ticket_date as ticketDate,
			   ticket_count as ticketCount, ticket_cancel as ticketCancel, ticket_status as ticketStatus
		from(select rownum rnum, t.*
		from(select * from ticket where ticket_buyer=#{memberId} order by ticket_enrolldate desc)t)t
		where rnum between #{startContent} and #{endContent}
	</select>
	
</mapper>