<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">
	<select id="selectNoticeTicketOpenList" resultType="NoticeTicketOpen">
		select *
		from notice
		order by notice_enrolldate desc
	</select>

	<resultMap type="NoticeTicketOpen" id="noticeTicketOpenMap">
		<id column="notice_no" property="noticeNo"/>
		<result column="notice_title" property="noticeTitle"/>
		<result column="notice_content" property="noticeContent"/>
		<result column="notice_enrolldate" property="noticeEnrollDate"/>
		<result column="notice_category" property="noticeCategory"/>
		<result column="notice_count" property="noticeCount"/>
		
	</resultMap>
	
	<!-- <insert id="insertNoticeTicketOpen">
		insert into notice
		(notice_no,notice_title,notice_content,notice_enrolldate,notice_category,notice_count,play_name,play_open,play_place,play_poster) 
		values(seq_notice_no.nextval,'뮤지컬 스위니토드','뮤지컬 스위니토드 티켓이 오픈했습니다.',sysdate,'t',0,'스위니토드','2019-01-01','세종문화회관','poster');
	
	
	</insert> -->
	
</mapper>