@charset "UTF-8";
.coupon_lst_wrap{
	/*border:1px solid black; */
	margin: 10px;
	
	
}


.coupon{
	position: relative;
	height:120px;
	width:220px;
	border: 1px solid black;
	border-collapse: collapse;
	padding: 14px;
	background-color: white;


}

.couponDown{
	position: absolute;
	top:-1px;
	left:218px;
	height:120px;
	width:50px;
	writing-mode: tb-rl;
	line-height:48px;
	text-align: center;
	background-color: #8c008c;
	border: 1px solid black;
	border-collapse: collapse;
	font-family: 'Gothic A1', sans-serif;
	letter-spacing: 5px;
}

#couponlist td{
width:300px;
}

.couponDown p{
	font-size:18px;
	color:white;
	font-weight: bold;
	
}

.couponTitle{
	font-family: 'Gothic A1', sans-serif;
	font-size: 1.5em;
}

.couponTitle {
	margin: 5px 0;
}

.couponMore{
	position: absolute;
	top:70px;
}

.notice_wrap{
	margin: 30px auto;
	font-family: 'Gothic A1', sans-serif;
	font-size: 1.3em;
	width: 970px;
	background-color: lightgray;
	
}

.couponWrap{
	margin: 20px;
}

.couponWrap p {
	margin-bottom: 0px;
}

button#couponAdd{
	float:right; margin:10px; width:50px; height:30px;
	background-color:#8c008c;
	color:white;
	border:none;
}

.couponText{
	margin-bottom:0px;
}
