<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="review">
	<resultMap type="review" id="reviewMap">
	</resultMap>
	
	<select id="reviewList" resultMap="reviewMap">
	select * from review
<!-- 	<where>
			<if test="reviewShowId != '' and reviewShowId != null">
				review_showid = #{reviewShowId}			
			</if>
						
		</where> -->
	</select>
	<insert id="insertReview">
		insert into review values
		( seq_review_no.nextval, #{reviewShowId}, #{reviewWriter},
		  #{reviewContent}, 0, #{reviewStar}, default)
	
	</insert>
</mapper>